.toExpand {
	height: 200px;
	overflow: hidden;
  	text-overflow: ellipsis; 
	-webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  	transition: .2s;
}

.expandButton {
	position: absolute;
	bottom: 0px;
	left: 0px;
}